*, *:before, *:after{margin:0;padding:0;box-sizing:border-box;}

body {
    background: linear-gradient(45deg, #290075, #5900ff) no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 4px black;
}

.digital-clock {
    font-size: 2em;
    font-weight: 700;
    color: white;
}

.digital-clock span {
    background: #242424;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 .5em #7c019b;
    border: 4px solid white;
}

.display-date {
    margin: 4rem 0;
    font-size: 2em;
    background: #242424;
    color: white;
    padding: .2em .5em;
    border-radius: 1em;
    font-weight: 700;
    box-shadow: 0 0 .5em #7c019b;
    border: 4px solid white;
}